
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    overflow-x: hidden;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body.index .Container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "Banner1 Banner1 Banner1 Banner1"
    "Header Nav Nav Nav"
    "Banner2 Banner2 Banner2 Banner2"
    "Picture Picture Picture Picture"
    "Phones Phones Phones Phones"
    "ButtonsHeader ButtonsHeader ButtonsHeader ButtonsHeader"
    "Buttons Buttons Buttons Buttons"
    "News News LatestNews LatestNews"
    "Footer Footer Footer Footer";
}   

body.index .Banner1{
    grid-area: Banner1;
    background-color: #FFF2FC;
    text-align: center;
    padding: 0.5vw 0px 0.5vw 0px;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

body.index header{
    grid-area: Header;
    background-color: white;
    padding: 1.3vw 0 1.3vw 1vw;;
    display: flex;
    align-items: center;
}

body.index header h1{
    padding: 0 0.5vw 0 1vw;
    font-size: 2vw;
}

body.index header img{
    width: auto;
    height: 2.75vw;
}

body.index nav{
    grid-area: Nav;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5vw;
}

body.index nav ul{
    display: flex;
}

body.index nav ul li{
    padding: 0vw 1vw 0vw 1vw;
}

body.index nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

body.index nav ul li a:hover{
    color: #188fff;
}

body.index nav ul li .active{
    color: #188fff;
}
body.index .Banner2{
    grid-area: Banner2;
    background-color: #FFCCF3;
    text-align: center;
    padding: 0.4vw 0px 0.4vw 0px;
    font-size: 1vw;
}

body.index .Picture{
    grid-area: Picture;
    background-color: #EDD8FF;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 10px -10px gray;
}

body.index .Picture h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFA94;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

body.index .Picture img{
    width: 50%;
    height: 100%;
    padding: 0 25%;
    display: block;
    object-fit: cover;
}

body.index .Picture button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 1.3vw;
    color: black;
    border: none;
    background-color: #FFFA94;
    cursor: pointer;
    font-size: 1.3vw;
}

body.index .Phones{
    grid-area: Phones;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 6vw 0 6vw 0;
}

body.index .Phones a{
    box-shadow: 0 10px 30px 0 gray;
    height: auto;
    color: black;
    width: 10%;
    text-decoration: none;
    text-align: center;
    border-radius: 1.3vw;
    padding-bottom: 0.2vw;
    display: flex;
    flex-direction: column;
}

body.index .Phones h3{
    font-size: 1.1vw;
    margin-top: 1vw;
}

body.index .Phones p{
    font-size: 1.1vw;
    margin-top: 0;
    padding-bottom: 1vw;
}

body.index .Phones img{
    width: 80%;
    height: auto;
    padding-top: 1vw;
}

body.index .ButtonsHeader{
    grid-area: ButtonsHeader;
    background-color: rgb(252, 252, 252);
    text-align: center;
    padding-bottom: 1vw;
    font-size: 1.5vw;
}


body.index .Buttons{
    grid-area: Buttons;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 2vw 0 6vw 0
}

body.index .Buttons button{
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 1vw;
    color: black;
    border: none;
    cursor: pointer;
    background-color: white;
    box-shadow: 10px 10px 30px 0 gray;
    font-size: 2vw;
}

body.index .News{
    grid-area: News;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    padding: 1vw 1vw 6vw 1vw;
}

body.index .News .NewsItem{
    display: flex;
    width: 70%;
    height: auto;
    background-color: white;
    box-shadow: 10px 10px 30px 0 gray;
    border-radius: 1.2vw;
}

body.index .News .NewsItem picture {
    width: 30%;
    height: 100%;
}

body.index .News .NewsItem picture img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
}

body.index .News .NewsContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 2vw 0 2vw;
    font-size: 1.2vw;
}

body.index .News .NewsContent h3{
    padding-top: 1vw;
    font-size: 1.5vw;
    margin-top: 0;
    padding-bottom: 0.5vw;
}

body.index .News .NewsContent a{
    margin-top: auto;
    margin-bottom: 1vw;
    margin-top: 2vw;
}

body.index .News h2{
    font-size: 2.2vw;
    text-align: center;
}

body.index .LatestNews{
    grid-area: LatestNews;
    background-color: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 3vw;
    padding-bottom: 5vw;
}

body.index .LatestNews .LatestContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 10px 10px 30px 0 gray;
    width: 80%;
    border-radius: 1.2vw;
    gap: 1vw;
}

body.index .LatestNews .LatestContent a{
    font-size: 1.5vw;
}

body.index .LatestNews .LatestContent picture{
    width: 20%;
    height: 100%;
}

body.index .LatestNews .LatestContent picture img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
}

body.index .LatestNews h2{
    font-size: 2.2vw;
    padding: 1vw 0 1vw 0;
}

body footer{
    box-shadow: 10px 10px 30px 0 gray;
    grid-area: Footer;
    background: linear-gradient(0deg,#FFFA94, #FFCCF3);
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 1vw 2vw 1vw 2vw;
}

body footer div{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 25%;
    font-size: 1vw;
}

@media screen and (max-width: 720px){
    body.index .Container{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "Banner1 Banner1"
        "Header Nav"
        "Banner2 Banner2"
        "Picture Picture"
        "Phones Phones"
        "ButtonsHeader ButtonsHeader"
        "Buttons Buttons"
        "News News"
        "LatestNews LatestNews"
        "Footer Footer";
    }
}

/* Contact */

body.Contact .Container{
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "Banner1 Banner1"
    "Header Nav"
    "Banner2 Banner2"
    "Picture Picture"
    "Form Form"
    "Footer Footer";
}

body.Contact .Picture{
    grid-area: Picture;
    background-color: #E4F4EF;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 10px -10px gray;
}

body.Contact .Picture h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFA94;
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

body.Contact .Picture picture img{
    margin: 0 25%;
    width: 25%;
    height: auto;
    object-fit: cover;
}

body.Contact .Form{
    grid-area: Form;
    padding: 1vw 1vw 1vw 1vw;
}

body.Contact .Form h2{
    font-size: 2.2vw;
    text-align: center;
}

body.Contact .Form form{
    padding-top: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    width: 100%;
    font-size: 1vw;
}

body.Contact .Form form div {
    display: flex;
    flex-direction: column;
}

body.Contact .Form form .full-width {
    grid-column: 1 / -1;
    align-items: center;
}

body.Contact .Form form .full-width textarea {
    width: 80%;
}

body.Contact .Form form #submitButton {
    padding: 1vw 2vw;
    border-radius: 1vw;
    color: black;
    border: none;
    cursor: pointer;
    background-color: #FFFA94;
    font-size: 1.5vw;
}

body.Contact header {
    grid-area: Header;
    background-color: white;
    padding: 1.3vw 0 1.3vw 1vw;
    display: flex;
    align-items: center;
}

body.Contact header h1 {
    padding: 0 0.5vw 0 1vw;
    font-size: 2vw;
}

body.Contact header img{
    width: auto;
    height: 2.75vw;
}

body.Contact nav {
    grid-area: Nav;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vw;
}

body.Contact nav ul {
    display: flex;
}

body.Contact nav ul li {
    padding: 0vw 1vw;
}

body.Contact nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

body.Contact nav ul li a:hover {
    color: #188fff;
}

body.Contact nav ul li .active {
    color: #188fff;
}

body.Contact .Banner1 {
    grid-area: Banner1;
    background-color: #FFF2FC;
    text-align: center;
    padding: 0.5vw 0;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

body.Contact .Banner2 {
    grid-area: Banner2;
    background-color: #FFCCF3;
    text-align: center;
    padding: 0.4vw 0;
    font-size: 1vw;
}